.ky-picview-mask {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.9);
	z-index: -1;
	opacity: 0;
	transition: opacity 300ms;
}
.ky-picview-mask-show {
	z-index: 999;
	opacity: 1;
}
.ky-picview-mask i {
	font-style: normal;
	color: #fff;
	font-family: "Microsoft yahei";
	font-size: 36px;
	cursor: pointer;
	display: inline-block;
}
.ky-picview-close i {
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
.ky-picview-close {
	position: absolute;
	top: 0;
	right: 0;
	transition: all 200ms;
}
.ky-picview-close:hover {
	background: #555;
}
.ky-picview-prev i, .ky-picview-next i {
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}
.ky-picview-prev {
	position: absolute;
	top: 50%;
	left: 0;
	transition: all 200ms;
	transform: translate(0, -50%) scaleY(1.5);
}
.ky-picview-prev:hover {
	background: #555;
	transform: translate(0, -50%) scaleY(2);
}
.ky-picview-next {
	position: absolute;
	top: 50%;
	right: 0;
	transition: all 200ms;
	transform: translate(0, -50%) scaleY(1.5);
}
.ky-picview-next:hover {
	background: #555;
	transform: translate(0, -50%) scaleY(2);
}
.ky-picview-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 300ms;
}
