.ky-codeview-wrap {
    background: #333;
    color: #ddd;
    padding: 5px 15px;
}
.color1 {
    color: #b33909;
}
.color2 {
    color: #44c55a;
}
.color3 {
    color: #ddd05f;
}
.color4 {
    color: #ddba5f;
}
