.ky-codeview-wrap {
    background: #333;
    color: #ddd;
    padding: 0 15px 5px 15px;
}
.color0 {
	color: #666;
}
.color1 {
    color: #b33909;
}
.color2 {
    color: #44c55a;
}
.color3 {
    color: #ddd05f;
}
.color4 {
    color: #c39c37;
}
.color5 {
    /* color: #08c; */
    color: #00868B;
}

.color10 {
	color: #f60;
}
.color11 {
	color: #7860f6;
}
.color12 {
	color: #368cec;
}
.ky-tab-span {
	display: inline-block;
	text-align: right;
	margin-right: 20px;
}
