.ky-codeview-wrap {
    background: #333;
    color: #ddd;
    padding: 0 15px 5px 15px;
    overflow-x: auto;
}
.ky-codeview-wrap .color0 {
	color: #666;
}
.ky-codeview-wrap .color1 {
    color: #b33909;
}
.ky-codeview-wrap .color2 {
    color: #44c55a;
}
.ky-codeview-wrap .color3 {
    color: #ddd05f;
}
.ky-codeview-wrap .color4 {
    color: #c39c37;
}
.ky-codeview-wrap .color5 {
    /* color: #08c; */
    color: #00868B;
}

.ky-codeview-wrap .color10 {
	color: #f60;
}
.ky-codeview-wrap .color11 {
	color: #7860f6;
}
.ky-codeview-wrap .color12 {
	color: #368cec;
}
.ky-codeview-wrap .ky-tab-span {
	display: inline-block;
	text-align: right;
	margin-right: 20px;
}
