body {
	font-family: "Microsoft yahei";
	margin: 0;
	padding: 0;
}

.page-title {
	background: #d9851c;
	color: #fff;
	margin: 0;
	padding: 12px;
}

.test-box {
    width: 100px;
    height: 100px;
    background: #f60;
    margin-top: 10px;
}

.section-box {
	margin: 20px;
	padding: 10px;
	overflow: hidden;
}
.section-title {
	background: #d9851c;
	color: #fff;
	line-height: 50px;
	padding-left: 12px;
	border-radius: 12px 12px 0 0;
	text-align: center;
}
.section-box-left {
	float: left;
	width: 49%;
	box-sizing: border-box;
	padding-bottom: 10px;
}
.section-box-right {
	float: right;
	width: 49%;
	box-sizing: border-box;
	padding-bottom: 10px;
}

.btn {
	border: 1px solid #ddd;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
	background: #fff;
	font-family: "Microsoft yahei";
	text-decoration: none;
}
.btn:hover {
	background: #eee;
}
.btn-primary {
	background: #59f;
	color: #fff;
}
.btn-primary:hover {
	background: #59e;
}
.btn-lg {
	font-size: 28px;
}
.btn-sm {
	font-size: 14px;
}

textarea {
	display: block;
	width: 100%;
	font-size: 18px;
	box-sizing: border-box;
	line-height: 28px;
	border: 1px solid #aaa;
}

.split {
	padding-left: 5px;
	padding-right: 5px;
}

.fl {float: left;}
.fr {float: right;}
.oh {overflow: hidden;}
.tl {text-align: left;}
.tc {text-align: center;}
.tr {text-align: right;}
.clearfix {clear: both;}
.inline {display: inline-block;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
